body {
    margin: 0px;
}

header {
    background-color: #353b48;

    width: 100%;
    height: 65px;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    left: 0px;
    text-align: center;
    display: flex;
}

.Titre {

}

.BarreRecherche {

}

.Ligne {

    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.caseLigne1 {

    width: 48%;
    min-width: 350px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 15px;
    border: solid 2px black;
}

.caseLigne2 {

    width: 23%;
    min-width: 250px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 15px;
    border: solid 2px black;
}

.headerCase {
    height: 10%;
    background-color: #dcdde1;
    margin: 0px;
    padding: 10px;
}

.headerCase p {
    vertical-align:middle;
    display:inline-block;
}

.corpsCase {
    height: 90%;
    background-color: #f5f6fa;
    margin: 0px;
    padding: 10px;
}

footer {
    background-color: #dcdde1;


    width: 100%;
    height: 75px;
    margin-top: 10px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    vertical-align: middle;
}

p {
    margin: 0px;
}

.copyright {
    line-height: 75px;
}